<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.wtc.xmut.taoschool">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name="com.wtc.xmut.taoschool.myApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".ui.activity.MainActivity"
            android:label="淘学"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity
            android:name=".ui.activity.PublishActivity"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".ui.activity.SplashActivity"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ui.activity.RegisterActivity" />
        <activity android:name=".ui.activity.LoginActivity" />
        <activity android:name=".ui.activity.SettingActivity" />
        <activity android:name=".ui.activity.PersonActivity" />
        <activity
            android:name=".ui.activity.ShopDetailActivity"
            android:label="@string/title_activity_shopdetial"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity
            android:name=".ui.activity.OrderActivity"
            android:label="@string/title_activity_order"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".ui.activity.SearchResultsActivity">

        </activity>
    </application>

</manifest>